In [14]:
#creating a tuple and accessing
t=(1,2,3,'apple',3.22)
print(t[0])
print(t[-1])
print(len(t))
print(t[1:3])
print('apple'in t)

1
3.22
5
(2, 3)
True